@font-face {
    font-family: noto_mono;
    src: url(fonts/generic.ttf);
}

body {
    background-color: black;
    font-family: noto_mono, ui-monospace;
    color: white;
}

.time-list {
    font-size: large;
    text-align: left;
    position: absolute;
    bottom: 50%;
    left: 16px;

    white-space: pre;

}

.timer {
    font-size: x-large;
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 16px;
}

.scramble {
    font-size: xxx-large;
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 650px;
}

.scramble-button, .reset-button {
    border: 1px outset #ffffff;
    background-color: #000000;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-family: noto_mono, ui-monospace;
    color: white;
}

.scramble-button:hover, .reset-button:hover {
    background-color: #c4c4d5;
    color: #000000;
}